    /* color =>  #e67e22  color:hover #cf6d17 */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        background-color: #fff;
        color: #555;
        font-family: "Lato", "Arial", sans-serif;
        font-weight: 400;
        font-size: 20px;
        text-rendering: optimizeLegibility;
        /*this is very important to don't show the white in the right side of the screen*/
        overflow-x: hidden;
    }
    
    .container {
        margin: 0 auto 0 auto;
        background-color: yellow;
    }
    
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpeg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        margin-bottom: 60px;
        background-attachment: fixed;
    }
    
    header h1 {
        margin: 0;
        color: #fff;
        font-size: 149%;
        font-weight: 300;
        letter-spacing: 1px;
        word-spacing: 4px;
        margin-bottom: 10px;
        line-height: 150%;
    }
    
    .btn:link,
    .btn:visited,
    input[type="submit"] {
        display: inline-block;
        padding: 10px 30px;
        font-weight: 300;
        text-decoration: none;
        border: 1px solid #e67e22;
        border-radius: 200px;
        transition: background-color 0.2s, border 0.2s, color 0.2s;
        font-weight: bold;
    }
    
    .btn_ghost:link,
    .btn_ghost:visited {
        color: #e67e22;
    }
    
    .btn:hover,
    .btn:active,
    input[type="submit"]:active,
    input[type="submit"]:hover {
        background-color: #cf6d17;
        color: white;
    }
    
    .logo {
        height: 100px;
        width: auto;
        float: left;
        padding-left: 60px;
        margin-top: 20px;
    }
    
    .main_nav {
        float: right;
        list-style: none;
        margin-top: -40px;
        padding-right: 60px;
    }
    
    .main_nav li {
        display: inline-block;
        margin-left: 40px;
    }
    
    .main_nav li a:link,
    .main_nav li a:visited {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 8px 0;
        font-size: 120%;
        font-weight: bold;
        border-bottom: 3px solid transparent;
        transition: 0.5s;
    }
    
    .main_nav li a:active,
    .main_nav li a:hover {
        border-bottom: 3px solid #e67e22;
    }
    
    .section_features {
        text-align: center;
        padding: 0 20px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    h2 {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        word-spacing: 2px;
        font-size: 180%;
        text-align: center;
    }
    
    h2:after {
        display: block;
        height: 4px;
        background-color: #e67e22;
        width: 100px;
        content: "";
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    h3:after {
        display: block;
        height: 4px;
        background-color: #e67e22;
        width: 120px;
        content: "";
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .lang_copy {
        line-height: 145%;
        width: 70%;
        margin-left: 15%;
        font-weight: 400;
        color: #888;
        font-family: 'Lato', 'Arial', sans-serif;
        font-size: 20px;
    }
    
    .box p {
        font-weight: 400;
        text-align: justify;
    }
    
    .box h3 {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        word-spacing: 1px;
        font-size: 140%;
        margin-bottom: 10px;
    }
    
    .big_icon {
        font-size: 350%;
        margin-bottom: 6px;
        color: #e67e22;
        display: block;
    }
    
    .btn_icon {
        border-radius: 100px;
        border: none;
        background-color: white;
    }
    
    .meals_show_case {
        width: 100%;
    }
    
    .meals_show_case li {
        width: 25%;
        float: left;
    }
    
    .meal_photo {
        margin: 0;
        width: 100%;
        overflow: hidden;
        background-color: #000;
    }
    
    .meal_photo img {
        width: 100%;
        height: auto;
        opacity: 0.8;
        transform: scale(1.15);
        transition: 0.8s;
    }
    
    .meal_photo img:hover {
        transform: scale(1.4);
    }
    
    .h2_how_it_works {
        padding-bottom: 100px;
        background-color: red;
    }
    
    .temoingage_section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/back-customers.jpg");
        background-attachment: fixed;
        color: white;
        margin-top: 20px;
    }
    
    .temoingage_section h2 {
        padding-top: 3%;
    }
    
    .temoingage_section h5 {
        padding-top: 10%;
    }
    
    .temoingage_section img {
        width: 100px;
        height: auto;
        border-radius: 50%;
        float: left;
        padding-right: 8px;
    }
    
    .section_price {
        margin: 0px 10%;
        width: 80%;
        margin: auto;
    }
    
    .section_price ul li {
        display: block;
        padding: 2% 20%;
        font-weight: bold;
        width: 100%;
        text-align: left;
        font-size: 130%;
    }
    
    .section_price i {
        color: pink;
    }
    
    .div_paragraphe:before {
        content: "\201C";
        font-size: 400%;
        position: absolute;
        top: -40px;
        margin-bottom: 10px;
    }
    
    .div_paragraphe {
        position: relative;
    }
    
    .section_form {
        padding: 3% 10%;
    }
    
    .contact-form {
        width: 60%;
        margin: 0 auto;
    }
    
    .contact-form input[type="text"],
    input[type="email"],
    select,
    textarea {
        width: 100%;
        padding: 7px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    .contact-form textarea {
        height: 100px;
    }
    
    .contact-form input[type="checkbox"] {
        margin: 10px 5px 10px 0px;
    }
    
    .contact-form input[type="submit"] {
        background-color: white;
        color: #e67e22;
        font-weight: 500;
    }
    
    .contact-form input[type="submit"]:hover {
        background-color: #e67e22;
        color: white;
    }
    
    *:focus {
        outline: none;
    }
    
    .footer_nav {
        list-style: none;
        float: left;
    }
    
    footer {
        background-color: #333;
        padding: 2% 0% 3% 0%;
    }
    
    .social_links {
        list-style: none;
    }
    
    .social_links li,
    .footer_nav li {
        display: inline-block;
        margin-right: 35px;
    }
    
    .footer_nav li a:link,
    .footer_nav li a:visited,
    .social_links li a:link,
    .social_links li a:visited {
        text-decoration: none;
        color: #888;
        transition: 0.2s;
        font-weight: bold;
    }
    
    .footer_nav li a:hover,
    .footer_nav li a:active {
        color: #ddd;
        padding-bottom: 5px;
        border-bottom: 7px solid #e67e22;
    }
    
    .social_links li a:link,
    .social_links li a:visited {
        font-size: 180%;
    }
    
    .footer_elements ul:first-child {
        margin-left: 14%;
    }
    
    .footer_elements ul:last-child {
        margin-right: 14%;
    }
    
    .copyRight {
        text-align: center;
        padding-top: 4%;
        padding-top: 6%;
        color: white;
        font-size: 120%;
    }
    
    .ion-social-facebook:hover {
        color: #1877f2;
    }
    
    .ion-social-instagram:hover {
        color: #fe0190;
    }
    
    .ion-social-whatsapp:hover {
        color: #0cb264
    }
    
    .ion-social-linkedin:hover {
        color: #006699;
    }
    
    .ion-social-youtube:hover {
        color: #ff0000;
    }
    
    .wok_steps img {
        width: 200px;
        height: 70;
    }
    
    .div_cities {
        margin: 0 15%;
    }
    
    .div_temoignage {
        margin: 1% 5%;
    }
    
    .hero_text_box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .advantage {
        line-height: 145%;
        width: 70%;
        margin-left: 15%;
        font-weight: 400;
        color: #888;
        font-family: 'Lato', 'Arial', sans-serif;
        font-size: 20px;
    }
    
    .horaires {
        text-align: center;
        color: white;
    }
    
    .img_horaires {
        width: 60%;
        height: 30%
    }
    
    .social_medias {
        text-align: center
    }
    
    .why_us {
        margin-top: 20px
    }
    
    .logo {
        border-radius: 50%;
    }
    
    .name_company {
        color: #e67e22;
        font-weight: bold;
        border-bottom: 3px solid #e67e22;
    }

    .footer_right_section {
        text-align: center;
        color: white
    }
    
    .google_maps {
        margin-top: 7px;
    }